<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/jdbc
          http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">

    <context:component-scan base-package="com.sean" />


    <!-- -h10.90.169.195 -P 3306 -uroot -pOHciFI_si2 mpush -->
    <!-- jdbc:mysql://10.90.169.195:3306/mpush?useUnicode=true&characterEncoding=UTF-8 -->
    <!--配置数据源，这里使用DruidDataSource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!--<property name="url" value="jdbc:h2:file:~/.h2/showcase;AUTO_SERVER=TRUE"/>-->
        <!--<property name="username" value="sa"/>-->
        <!--<property name="password" value=""/>-->
        <property name="url" value="jdbc:mysql://10.90.169.195:3306/mpush" />
        <property name="username" value="root" />
        <property name="password" value="OHciFI_si2" />
        <property name="filters" value="stat"/>
        <property name="maxActive" value="20"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="20"/>
    </bean>

    <bean id="employee" class="com.sean.context.Employee">
        <property name="name" value="sean"></property>
        <property name="age" value="18"></property>
    </bean>

   <!-- <jdbc:initialize-database>
        <jdbc:script location="db/h2/init.sql" encoding="utf-8"/>
    </jdbc:initialize-database>-->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>